.main-container{
  background-color: #f8f8fa;
  height: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 80px;
}

.m-component2{
  text-align: center;
  flex-grow: 40%;
}

.m-component1{
  margin-top: 50px;
}


.gallery-img{
  box-shadow: 3px 4px 12px -5px #7a7a7a;
  margin-bottom: 6px;
  cursor: pointer;
}

.main-img{
  margin-left: 20px;
  margin-right: 10px;
}


.grid-container{
  display: grid;
  grid-template-columns: 300px;
  grid-auto-rows: auto;
  grid-row-gap: 10px;
}

.gib {
  border-bottom: 1px solid #ccc;
}
