
.navbar-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 20px 0px;
}

.nbdiv{
  text-transform: uppercase;
  font-size: 20px;
  margin: 0px 30px;
}

.nbdiv2{
font-weight: bold;
}
