* {
  box-sizing: border-box;
}
.footer-container{
  background-color: #ECDAD5;
}
.grid-component-container{
  float: left;
  padding: 50px;

}
.grid-container{
  display: flex;
  justify-content: center;
  text-align: center;
}
.grid-container::after{
  content: '';
  clear: both;
  display: table;
}
.form-container{
  display: flex;
  justify-content: center;
  text-align: center;
}
label {
  font-size: 19px;
}
