* {
  box-sizing: border-box;
}

/* footer style start here */

.footer-container{
  background-color: #ECDAD5;
}
.grid-component-container{
  float: left;
  padding: 50px;

}
.grid-container{
  display: flex;
  justify-content: center;
  text-align: center;
}
.grid-container::after{
  content: '';
  clear: both;
  display: table;
}
.form-container{
  display: block;
  justify-content: center;
  text-align: center;
}

.form-button{
  padding-top: 1rem;
  padding-right: 2.36859rem;
  padding-bottom: 1rem;
  padding-left: 2.36859rem;
  text-transform: uppercase;
  font-size: .79012rem;
  line-height: 1.2;
  letter-spacing: 4px;
  display: inline-block;
  border-radius: 0;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  border: 2px solid #000;
  font-weight: bold;
  margin-left: 40px;
}
.form-container::before{
  content: '';
  clear: both;
  display: table;
}

label {
  font-size: 19px;
}
.form-control{
  display: inline-block;
  justify-content: center;
  text-align: center;
}
.form-input{
  outline-style: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
  padding: 8px;
  height: 50px;
  width: 450px;
  text-indent: 0px;
  line-height: 1.5;
  background-color: transparent;
  text-align: center;
}
.form{
margin-top: 40px;
}


/* footer style end here */



/* topheader style start here */
/* .topheader-container{
  background-color: #E9E9E9;
}

.theader-component{
  float: left;
  width: 33.33%;
  height: 40px;
}

ul{
  list-style-type: none;
  margin-top:0px;
  margin-bottom: 0px;
  padding:0px;
}
ul::after{
  content: '';
  clear: both;
  display: table;
}
li{
  display: inline-block;
  padding:12px;

}
li a{
  text-decoration: none;
  color: rgb(110,110,110);
}
.topheader-container::after{
  content: '';
  clear: both;
  display: table;
}

.select_input {
  display: inline;
  text-align: inherit;
  background: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
}
.thc1{
  width: 100%;
  text-align: left;
}
.thc2{
  text-align: center;
}
.thc3{
  text-align: right;
} */
/* topheader style end here */


/* Navbarheader start here */
/* a.df{
  font-size: 25px;
}
.navbar-header ul{
  text-align: center;
}

.navbar-header{
  padding: 30px 100px;
}

.navbar-header ul li a{
  color: #000;
  font-weight: bold;
}

.navbar-header ul li{
  width: auto;
  height: 25px;
  padding: 0px 30px;
  margin:0px 15px;
} */
/* Navbarheader end here */



/* Main style */
/* .main-component{
  display: inline-block;
} */
/* Main style */

/* gallery Style */

/* .gallery{
  width: 178px;
  height: auto;
  padding: 0px 15px;
}
.gallery-thumnail{
  width: 50px;
  height: 277px;
  margin-left: 100px;
} */

/* .gallery-img{
  width: 50px;
  height: 50px;
  margin-bottom: 6px;
  display: block;
  cursor: pointer;
  box-shadow: 3px 4px 12px -5px #7a7a7a;
}
.main-container{
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  padding-top: 50px;
} */
/* gallery style */


/* Main image style */

/* Main image style */


/* Productdetail components */
/* .p-detail li{
  display: list-item;
  list-style-position: outside;
  list-style:disc;
}

.p-detail{
  padding-left: 25px;
}
.productform-content{
  width: 385px;
  height: auto;
}

.pfc{
  width: 100%;
  height: auto;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgb(204,204,204);
}

.pfcdb{
  width: 100%;
  height: auto;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.pfc span.view{
  font-size: 10px;
  text-decoration: underline;
  color: rgb(110,110,110);
  cursor: pointer;
  display: inline;

}

.addtocart-btn{
  padding: 16px 37px;
  cursor: pointer;
  padding: 1rem 2.36859rem;
  transition: all 150ms;
  font-family: "Futura LT W01 Heavy";
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-size: .79012rem;
  line-height: 1.2;
  letter-spacing: 4px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  background-color: #CD627D;
  border: 2px solid #CD627D;
  margin: 0;
  width: 100%;
}
.pfc-product-desc{
  color: rgb(110,110,110);
}
.pfc-product-desc ul{
  line-height: .5em;
}

.size-ul ul li, .color-ul ul li, .material-ul ul li{

  cursor: pointer;
  color: rgb(10,10,10);
  list-style-position: outside;
  list-style-type: disc;
  list-style: disc;
}

.quantity-ul ul li span {
  box-sizing: unset;
  border:1px solid rgb(202,202,202);
  height: 33px;
  width: 34px;
  padding: 0px 5px;
}
.quantity-ul ul li input {
  box-sizing: unset;
  width: 60px;
  height: 21px;
  margin: 0px;
  padding: 8px;
} */
