* {
  box-sizing: border-box;
}

/* footer style start here */

.footer-container{
  background-color: #ECDAD5;
}
.grid-component-container{
  float: left;
  padding: 50px;

}
.grid-container{
  display: flex;
  justify-content: center;
  text-align: center;
}
.grid-container::after{
  content: '';
  clear: both;
  display: table;
}
.form-container{
  display: block;
  justify-content: center;
  text-align: center;
}

.form-button{
  padding-top: 1rem;
  padding-right: 2.36859rem;
  padding-bottom: 1rem;
  padding-left: 2.36859rem;
  text-transform: uppercase;
  font-size: .79012rem;
  line-height: 1.2;
  letter-spacing: 4px;
  display: inline-block;
  border-radius: 0;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  border: 2px solid #000;
  font-weight: bold;
  margin-left: 40px;
}
.form-container::before{
  content: '';
  clear: both;
  display: table;
}

label {
  font-size: 19px;
}
.form-control{
  display: inline-block;
  justify-content: center;
  text-align: center;
}
.form-input{
  outline-style: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
  padding: 8px;
  height: 50px;
  width: 450px;
  text-indent: 0px;
  line-height: 1.5;
  background-color: transparent;
  text-align: center;
}
.form{
margin-top: 40px;
}


/* footer style end here */



/* topheader style start here */
.topheader-container{
  background-color: #E9E9E9;
}

.theader-component{
  float: left;
  width: 33.33%;
  height: 40px;
}

ul{
  list-style-type: none;
  margin-top:0px;
  margin-bottom: 0px;
  padding:0px;
}
ul::after{
  content: '';
  clear: both;
  display: table;
}
li{
  display: inline-block;
  padding:12px;

}
li a{
  text-decoration: none;
  color: rgb(110,110,110);
}
.topheader-container::after{
  content: '';
  clear: both;
  display: table;
}

.select_input {
  display: inline;
  text-align: inherit;
  background: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
}
.thc1{
  width: 100%;
  text-align: left;
}
.thc2{
  text-align: center;
}
.thc3{
  text-align: right;
}
/* topheader style end here */


/* Navbarheader start here */
a.df{
  font-size: 25px;
}
.navbar-header ul{
  text-align: center;
}

.navbar-header{
  padding: 30px 100px;
}

.navbar-header ul li a{
  color: #000;
  font-weight: bold;
}

.navbar-header ul li{
  width: auto;
  height: 25px;
  padding: 0px 30px;
  margin:0px 15px;
}
/* Navbarheader end here */
